
.idea/workspace.xml

*.xml

.idea/workspace.xml

.idea/workspace.xml

*.log
/logs/nuby_express.log
/.idea/vcs.xml
/.idea/misc.xml
/app/components/com_noogle/vendor/elasticsearch-0.19.9/logs/
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/node.lock
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/4/index/write.lock
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/4/_state/state-6
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/4/_state/state-2
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/3/index/write.lock
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/3/_state/state-6
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/3/_state/state-2
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/2/index/write.lock
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/2/_state/state-6
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/2/_state/state-2
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/1/index/write.lock
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/1/_state/state-6
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/1/_state/state-2
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/0/index/write.lock
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/0/_state/state-6
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/twitter/0/_state/state-2
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/indices/noogle/
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/_state/global-3
/app/components/com_noogle/vendor/elasticsearch-0.19.9/data/elasticsearch/nodes/0/_state/global-1
/app/components/com_noogle/chat_files/