<form method="post" class="wizard form-search"><h1>Initilaize Noogle</h1>
<%- partial("../../views/step_header.html", {step: "test_search"}) %> <br />
<h2>Test Search</h2>
<p>
	Let&#39;s see what results we get with the currently indexed data.&nbsp;</p>
<p >
	<label>Search:</label>&nbsp;<input name="query" class="input-xlarge search-query" type="text" />

    <button type="submit" class="btn btn-primary" >Search</button>
</p>
<p>
	results:&nbsp;</p>
<div id="search_results">
....
</div>

<%- partial("../../views/step_footer.html", {step: "test_search"}) %></form>

        <script language="javascript">
            $(function(){
                $('.form-search button').on('click', function(data){
                    var data = $('form.wizard').serializeArray();
                    var query = _.reduce(data, function(q, r){
                        if (r.name == 'query'){
                            return r.value;
                        } else {
                            return q
                        }
                    }, '');

                    if (query){
                        $.post('/noogle/api/search', {query: query}, function(data){
                            console.log('--- search results --- ', data);
                        })
                    } else {
                        alert('Please put a search term in the field.');
                    }

                    return false;
                })
            })
        </script>