<h2>Welcome to Nuby Bootstrap</h2>

        <p>This page is designed to show the mutability of the template for hiding and showing panels: </p>

        <form method="get" aciton="/">
            <label><input type="checkbox" name="nav" <% if (nav){%> checked="checked"<% } %> /> Navigation </label>
            <label><input type="checkbox" name="sidebar" <% if (sidebar){%> checked="checked"<% } %>  /> Sidebar </label>
            <label><input type="checkbox" name="hero" <% if (hero){%> checked="checked"<% } %>  /> Hero </label>
            <button type="submit">Show Elements</button>
        </form>