<div ng-app="scopes" xmlns="http://www.w3.org/1999/html">

    <div ng-controller="ScopesCtrl">
        <h1>Wiki Scopes</h1>

        <p>A Wiki "Scope" is a topic cloud wherein all articles' wiki links refer to articles in the same scope</p>

        <table class="table">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Title
                </th>
                <th>
                    Creator
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="article in scopes | orderBy: 'name'">
                <td>{{article.name }}</td>
                <td>{{article.title }}</td>
                <td>{{ article.creator.member_name }}</td>
                <td>
                    <button class="btn" ng-click="view_scope(article)">
                        <i class="icon-search"></i> View</button>
                </td>
                <td>
                    <button class="btn" ng-click="edit_scope(article)">
                        <i class="icon-edit"></i> Edit</button>
                </td>
            </tr>
            </tbody>
        </table>

        <button class="btn btn-primary" ng-click="add_scope()">Add Scope</button>
    </div>
</div>