<% if (false) {%>
<script language="javascript">
    //  <% } %>
    function wiki(txt, callback, env) {
        // <% if (scope) { %>
        var scope = "<%=  scope %>";
        // <% } else { %>
        var scope = '';
        // <% } %>

        if (!callback){
            throw new Error('no callback to wiki');
        } else {
            console.log('wiki callback: ', callback);
        }

        function marked_cb(txt, cb) {
            if (!cb){
                throw new Error('marked_cb: no callback passed');
            }
            try {
                txt = marked(txt);
                cb(null, txt);
            } catch (err) {
                cb(err);
            }
        }

        function wiki_links(text, cb){
            do {
                var hit = /\[\[([^\]]+)\]\]/.exec(text);

                if (hit){
                    var holder = hit[0];
                    var term = hit[1].split(':');
                   var name = term.shift();
                    if (term.length){
                        title = term.join(' ');
                    } else {
                        var title = name.replace(/_/i, ' ');
                    }

                    var repl = '<a href="/wiki/a/' + scope.name + '/' + name + '" class="wikilink">' + title + '</a>';
                    text = text.replace(hit[0], repl);

                } else {
                    cb(null, text);
                }
            } while (hit)
            cb(null, text);
        }

        async.waterfall([
                function(cb){
                    cb(null, txt)
                },
<%- parsers.join(',') %>,
                wiki_links
        ], callback);

    }
    //  <% if (false) {%>
</script>
<% } %>